body{
  width:80%;
margin: auto;
background-color: #ffff;
}
.App {
  font-family: Arial, sans-serif;
  background-color: #ffff;
  padding: 20px;
  text-align: center;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  margin: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
}


.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}


input {
  padding: 8px;
  margin: 10px 0;
  font-size: 16px;
  margin: 8px;
}


button {
  background-color: #4caf50; 
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}


select {
  padding: 8px 16px ;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
 
  
  
}
